[2016-07-23 15:46] yoeriboven opened #1 "No 'location' returned when requesting ticket"
In the Alamofire.request in Auth.getTicket() no location is returned in `allHeaderFields` causing the app to crash.

[2016-07-23 15:49] lsapan commented on #1
Are you experiencing this when you send an invalid username/password combination, or every time?

[2016-07-23 15:52] yoeriboven commented on #1
Only with invalid credentials

[2016-07-23 15:53] lsapan commented on #1
Ah okay, that makes sense. Thanks, I'll get it fixed up!

[2016-07-23 16:14] yoeriboven opened #2 "No map objects returned"
When requesting the map objects no objects are returned. `response.response` returns
`statusCode: 3
 requestId: 8145806132888207460
 authTicket {
   start: <275b1cef dc027e2d 7f171746 5c275b05 3c87cf01 9825e57a 3a246f7a 57642ab4 2dd20b37 2137d9e9 77b241bb 69b73740 f272f91e 6ae6a8ff 4df33e07 b779904d>
   expireTimestampMs: 1469291523873
   end: <72acd742 7e0e5654 2af248e1 5b8cb4f7>
 }
 returns[0]:

[2016-07-23 16:24] lsapan commented on #2
Right, the call needs more than just latitude and longitude. It also needs a list of s2 geometry cell IDs, which I mentioned needs to be ported to swift. I've started doing it, but I haven't gotten very far yet due to lack of time. If you check out the sphere.py file I mentioned in Contributing, you'll find the CellID class. We basically need that and it's dependencies.

[2016-07-23 16:43] lsapan commented on #2
Feel free to check out `S2Geometry.swift`. It really shouldn't be too hard to finish porting it, there's just a bunch of mathematical functions that need to be ported. It's straight forward, just a little time consuming.

[2016-07-23 19:50] yoeriboven commented on #2
In which file are these calculations? I don't know Python but porting the mathematical functions should be doable.

[2016-07-24 00:05] lsapan commented on #2
Check out: https://github.com/qedus/sphere/blob/master/sphere.py

You'll find `class CellId` on line 809. We only need the `from_point` initializer on line 853, which would be great if it didn't have a bunch of other calls. 😄 But basically, just start with `from_point` and work your way through the other methods that it needs. It shouldn't be too many, and then we can use the `id` and send that.

[2016-07-24 09:54] yoeriboven commented on #2
Tried it, but unfortunately goes over my head. 😞 Really looking forward to the fix for this though. Thanks for your work for the community.

[2016-07-24 15:46] rowellx68 opened #3 "Best way of using pgoapi-swift"
Hi! Thanks for getting started with this.

I'm wondering what the best way of using this api? Currently, I'm having to copy over the classes/files into my own project and using it that way.

I'm making a Pokémon Rater, putting it up on git soon.

[2016-07-24 15:52] lsapan commented on #3
Hey! Glad you're finding it useful. I'll be adding it to Cocoapods soon, so that'll definitely be the easiest way. For now though, you could open the project separately, compile the framework, and then add the framework to your project. That's probably the cleanest way to do it, and it means you won't need to delete all the files once it is on Cocoapods.

[2016-07-24 15:56] #1 closed, assigned to nobody

[2016-07-24 19:26] rowellx68 commented on #3
https://github.com/rowellx68/pgorate

For now, I've opted to copy the files. Just currently dealing with login. I was going to implement the Google login, but the python versions of the api aren't so descriptive.

[2016-07-25 17:09] sirgalleto opened #4 "Answer: Google auth"
Do you have any info about Google credentials?

[2016-07-25 17:16] rowellx68 commented on #4
Somebody will need to port this https://github.com/vemacs/GPSOAuthSharp over to Swift

[2016-07-26 00:07] spinach commented on #2
Thank you Luke for posting this API! Any ETA on the map objects? I see you've assigned it to yourself and lately commited "Finishing touches on S2Geometry".

[2016-07-26 00:10] lsapan commented on #2
The geometry library is fully ported, I just haven't had time to fully test loading map objects. It should be very doable now though.

[2016-07-26 03:12] spinach commented on #2
So I quickly tried to test it.
messagebuilder.cellId is an Array<UInt64>. It seems we're lacking one function to get all cells from the location coordinates? (I am very new to the S2Geometry thingy, so it might be something straightforward that I am not seeing..)

I saw how they do it in Obj-C here: https://github.com/ruffnecktsk/pokemap_live_ios

[code]

Can you point in right direction? Maybe I

[2016-07-26 13:36] TheDarkCode commented on #2
I added the libc++ and s2geometry.a dependencies to a demo that just quickly lets you test GetMapObjects without the final implementation in Swift being used - I was out of coffee so didn't go much further. Since it doesn't have libcrypto.a as a dependency for x86_64 architecture support, only armv7, you need to run it on a device and not the simulator to avoid build errors. There are ~22 errors a

[2016-07-26 13:45] lsapan commented on #2
@guydaher @TheDarkCode sorry I didn't reply in time to keep you from using the C++ library! I went down that route originally and opted to just port the relevant portions to Swift because it'd be much cleaner. In any case, it's actually been done, I just hadn't updated the usage in the API. You can change the `getMapObjects` function in `PGoApiRequest` to this and it'll calculate the proper cell i

[2016-07-26 14:05] TheDarkCode commented on #2
@Isapan You're only sending 1 cell in your request when you do that. You need to send 21 cells. Also, the code will just return `[]` when you call cell.nearbyPokemon, etc. Unless it gives you back a response with more than the s2CellId and currentTimestampMs fields - which is dependent on the lat long input and what the spawnings are.

In terms of sinceTimestampMs, since it is an array, you need t

[2016-07-26 15:40] lsapan commented on #2
@TheDarkCode how did they determine which 21 cells to send? I'm assuming it's the lat/lon +- some distance for each right? Or is it something that s2geometry came up with? If so, I can add that as well.

Update: Actually I just remembered that `CellId` has `next` and `prev` functions. I didn't port those, but I remember thinking it'd be easy to. Do we just need to call those each 10 times to get t

[2016-07-26 15:43] TheDarkCode commented on #2
@lsapan It is from s2 geometry.

[2016-07-26 15:46] lsapan commented on #2
Alright, I'll get those functions ported and see if it works with `sinceTimestampMs = [0, 0..]`.

[2016-07-26 16:59] TheDarkCode commented on #2
I started adding in other API methods like Fort requests, I'll post the updates later. Lots of boring code to do to complete coverage.

[2016-07-26 17:01] lsapan commented on #2
Sure, thanks @TheDarkCode. Definitely submit a PR when you're ready. I have some other things to take care of atm, but I should have getMapObjects working for tonight.

[2016-07-27 17:05] spinach commented on #2
Not to put pressure of any sort here, but any ETA here? Just planning my next few days. Lots of cool stuff can be built in Swift using this api once the getMapObjects works :D

[2016-07-27 17:29] lsapan commented on #2
@guydaher @TheDarkCode Alright, I've ported the other methods and updated `getMapObjects` to send along 21 cells and 21 timestamps of 0. It still doesn't seem to be working though. I can't investigate too much yet, maybe one of you can play around with it?

[2016-07-27 18:04] affix commented on #4
I'm half way through doing google auth using GPS and Google Open Source frameworks

[2016-07-27 20:28] lucamegh opened #5 "Crash on S2Geometry lsb() -> UInt64"
A crash occurs when executing this function inside S2Geometry.swift

`func lsb() -> UInt64 {
        return UInt64(Int64(id) & -Int64(id))
    }`

[2016-07-27 22:09] lsapan commented on #5
What's the value of `id` for the cell you're testing with?

[2016-07-27 22:16] lucamegh commented on #5
Id "9263822755068982677"

Luke, do you think it is wise/safe to publish an app on the App Store containing this unofficial API? The app would be free with in-app purchases.

[2016-07-27 23:02] flypaper0 opened #6 "Get s2CellId from ApiResponse object"
How to get s2CellId from ApiResponse object.

my response.subresponses is :
`[ mapCells[0] {
   s2CellId: 5095060386525216768
   currentTimestampMs: 1469660046119
}
 status: .Success
]`

[2016-07-27 23:29] spinach commented on #5
@lsapan Link to SO where @lucamegh asked this question:
http://stackoverflow.com/questions/38623251/crash-on-uint64-bitwise-operation-in-swift

that will help solve the crash, but we still can't find useful map objects (expected since you said there's still some things to be done.)

[2016-07-27 23:33] spinach commented on #2
I tried to investigate but no luck for me.. especially that I'm not very familiar with how the Api works. The crash that is happening can be solved from an answer in SO (see Issue#4)

[2016-07-28 03:12] YufeiG commented on #3
@Isapan I can't seem to built it using it as a framework. All the methods and properties that should be used from externally should have the public keyword. After I added the public keywords, I get this error:

Am I using this wrong? Could I use it without adding "public"?

[2016-07-28 12:59] lucamegh opened #7 "InvalidProtocolBuffer("Invalid Tag: after tag 60")"
`fatal error: 'try!' expression unexpectedly raised an error: ProtocolBuffers.ProtocolBuffersError.InvalidProtocolBuffer("Invalid Tag: after tag 60"): file /Library/Caches/com.apple.xbs/Sources/swiftlang/swiftlang-703.0.18.8/src/swift/stdlib/public/core/ErrorType.swift, line 54`

New error when getting map objects. That does not happen always. Guess it happens only when a pokémon is found?

[2016-07-28 13:52] lsapan commented on #3
@YufeiG no actually you're right. I've been meaning to update it to work properly as a framework and be installed with Cocoapods, but I've been more focused on getting `getMapObjects` to work. I'll get there though! For now you can do as Rowell did and just copy the files. I'll update here when it's ready.

[2016-07-28 13:56] lsapan commented on #7
Are you using the latest version of the `protos` directory? I updated it yesterday, just want to make sure that's the copy you're using. The other thing to consider is it's possible the server is returning an error (just because they're overloaded). If that's the case, we'll just need to `try` instead of `try!`

[2016-07-28 13:59] lucamegh commented on #7
Yes, I'm using the latest version. Yes I've changed it and it worked. Just didn't know if something I was allowed to do. Thanks

[2016-07-28 14:06] lucamegh commented on #7
Also @lsapan, I'd like to donate you money in return for further help with your API. I hope it is ok with you! If so, tell me where I can contact you privately. I'd appreciate it

[2016-07-28 20:08] sirgalleto commented on #4
I actually use with react-native a web view with web credentials and oAuth 2 in the new release of [PikaPika](www.facebook.com/pikapika42)

Anyone would like to enter the beta testing?

[2016-07-29 12:32] tyler1314371 commented on #2
@lsapan @TheDarkCode I changed it so that I am now getting a response of

[ mapCells[0] {
   s2CellId: 9812014442764828672
   currentTimestampMs: 1469795368212
}
 status: .Success
]

but then again, there are no pokemons. I tried setting the radius to even larger scans but still the same.

Plus it seems like the s2CellId returned is not even part of the cells that I inputed and I have no idea why

[2016-07-29 21:12] PokemonGoSucks commented on #2
The S2Geometry isn't done yet I'm guessing, the int64s are not correct, but even when you pass 20 correct cell ids, there isn't any fort data for whatever reason. :/

I'm going to try writing a new S2 port.

[2016-07-29 21:31] tyler1314371 commented on #2
@PokemonGoSucks

Nice, I tried hardcoding a few correct sets of CellIDs as well but got no data in the return cells too. Also I believe we do need to do a range of lat and lon and feeds into the S2 to create different sets of CellIDs. I am currently investigating to see if that's the case and will pass in multiple sets of CellIDs

btw the correct return status should be 1, if it's not 1 then it's

[2016-07-30 03:57] TheDarkCode commented on #2
@lsapan @tyler1314371

I'm going to spend some time tonight / tomorrow to figure out what is going on. I'm doing a related project here: https://www.github.com/TheDarkCode/PokeGodar where I'm experimenting with an ASP.NET 4.6.x Web API implementation.

I'm trying to make a conversational bot that you can run in the cloud and process interactions or reporting of activity from the game for each acti

[2016-07-30 05:31] tyler1314371 commented on #2
@TheDarkCode

nice, let me know how it goes. I am pretty tired today so I will continue tomorrow. I want to be able to fix the lat, lon -> CellID function first so then it matches the python version.

[2016-07-30 06:18] lsapan commented on #2
I'd be interested to know why the CellIDs are not the same, I've verified there are with sphere.py. Perhaps that is implemented wrong as well? Hopefully it's a simple change either way.

[2016-07-30 06:28] PokemonGoSucks commented on #2
You did a good job porting the python, but it might be the wrong level or something? (I'm not familiar with s2 geometry.)

[2016-07-31 05:05] PokemonGoSucks commented on #2
I tried a few things...
1) I included the auth-token in the request envelope.
2) I included the location in request envelope.
3) I overwrote the bytes for 106/2/1 with the bytes from the python code.

Overwriting the bytes for 106/2/1 got me map objects... Not sure why the request message is different from the python one.

[2016-07-31 05:52] lsapan commented on #2
@PokemonGoSucks Great discovery, thank you for sharing that. It's worth noting that (as of the last time I checked) the python map is using an older or at least custom protos implementation. It'd be a low hanging fruit to simply see if the relevant message declarations in POGOProtos and the python map agree with each other.

[2016-07-31 11:27] rtlnr commented on #3
Niantic is blocking logins from cloud hosters now. Time for something native! :)

[2016-07-31 11:34] TheDarkCode commented on #2
@PokemonGoSucks Awesome. I figured it was the ByteString difference that was the only thing else that could be changed.

I was noticing earlier that the large trackers - i.e. pokevision - got taken down by the recent update, but testing the API has shown that you can still get the local forts, pokemon, etc. The alternative providers are all stumbling. Might need to put in some extra time today to

[2016-07-31 13:29] beeb commented on #2
Thanks for the great work! Pokevision was shut down by their creators, it was working perfectly until yesterday so I'm guessing that any stumbling would be due to PTC servers instabilities. Also, it seems there is now a 5s throttling limit for map requests coming from a single account, with no map objects returned if the request is sent during those 5 seconds after a successful request.

[2016-07-31 16:37] spinach commented on #2
@PokemonGoSucks Awesome!
Any PR coming in the way for the fix?

[2016-08-01 02:43] PokemonGoSucks commented on #2
@guydaher Yes, I'll PR once I figure out s2. But here's a rough idea on how you could get map objects:

First I edited globals.swift to include a location parameter & to store the auth token.

[code]

Then in rpcapi.swift, I replaced buildmainrequest. I changed unknown12 and unknown 2 to match the app's requests, but I don't really know if it makes any difference.

[code]

Then I set the location

[2016-08-01 03:00] victorlandeira commented on #2
@PokemonGoSucks
After this update we need native crowdsourced maps (servers can't request) and you guys are the closest one on swift.
give us hope.
can i help in any way?

[2016-08-01 04:15] spinach commented on #2
@PokemonGoSucks Great job, it actually works 👍

[2016-08-01 04:30] victorlandeira commented on #2
@guydaher can you help me out? lets share code
ping me @ victor.landeira@gmail.com ?

[2016-08-01 05:47] TheDarkCode commented on #2
@PokemonGoSucks Since most people are lazy, I updated the demo repo here so all they have to do is plug in a lat, long, and login in Globals.swift: https://github.com/TheDarkCode/pgoapi-swift-demo

Update:

I've started playing with doing automated-data mining by grabbing map objects at initial location, going to closest fort, grabbing map objects again, ad infinitum with a parsing of the pokemon

[2016-08-02 04:01] PokemonGoSucks commented on #4
I did an implementation:
https://github.com/PokemonGoSucks/pgoapi-swift/blob/master/pgoapi/gpsoauth.swift

[2016-08-02 11:53] rowellx68 commented on #4
@PokemonGoSucks re-wrote it to use Alamofire since the rest of the API is using it anyway. Thank you so much for implementing it 👍

https://github.com/rowellx68/pgorate/blob/master/pgorate/pgoapi/gpsoauth.swift

[2016-08-02 11:55] lsapan commented on #4
Thanks a bunch guys for getting Google Auth going. I'm going to refactor the library a bit to make it easier to use and include an example app. Any chance one of you can submit a PR for Google Auth? Thanks!

[2016-08-02 12:04] rowellx68 commented on #4
I could do that. Might refactor Auth and take out PtcAuth as it's own class. A few other strings will need to be made constants

[2016-08-02 12:05] lsapan commented on #4
Yes that would definitely make the most sense.

[2016-08-02 18:22] kilabyte opened #9 "Objective-C Support"
Any plans to support objective c implementations?

[2016-08-02 18:30] parrots opened #10 "S2CellId fails on 32-bit hardware"
When running the project, it seems no matter the lat/lon I put in, `var n = face << (S2Constants.posBits - 1)` in S2 geometry is crashing for me. I'm getting the error "shift amount is larger than type size in bits"

The error happens when I call `let cell = S2CellId(p: S2LatLon(latDegrees: latitude, lonDegrees: longitude).toPoint())`.

(using current GM of Xcode)

[2016-08-02 19:16] parrots commented on #10
Did a little more playing around and it only happens on 32bit hardware (iPhone 5 is one of my main testing devices). The hardcoded values in the geo file seem to assume 64bit lengths.

[2016-08-02 19:17] lsapan commented on #10
As far as I'm aware (and I haven't had enough time to thoroughly play with it), the calculations will fail if they're UInt32s. The proto itself defines the ID as a UInt64.

[2016-08-02 19:19] lsapan commented on #9
I wouldn't be opposed to it. My current focus when I have time is to get the project properly updated as a standalone framework with an example project. Once that's done though I'd be open to PRs to make it compatible.

[2016-08-02 20:04] lsapan commented on #3
I've restructured the project as a CocoaPod, so it should be much easier to use now! I'll get some installation instructions written up shortly.

[2016-08-02 20:41] #3 closed, assigned to nobody

[2016-08-02 20:53] lsapan commented on #4
Closing as this has been implemented by @rowellx68, thanks!

[2016-08-02 20:53] #4 closed, assigned to nobody

[2016-08-02 20:54] lsapan commented on #5
This should be all set now, let me know if you're still running into any issues.

[2016-08-02 20:54] #5 closed, assigned to nobody

[2016-08-02 20:54] lsapan commented on #6
The library has been updated quite a bit and you should be all set now, let me know if you're still having any issues.

[2016-08-02 20:54] #6 closed, assigned to nobody

[2016-08-02 21:19] lsapan commented on #9
@kilabyte I've just finished refactoring the project quite a bit. It should now be pretty easy to make it compatible with Objective-C. Is that something you'd be willing to tackle?

[2016-08-02 21:20] lsapan commented on #7
My apologies I never got back to you. I'm glad that fixed it. I can't accept your money, but I'm sure myself or the community would be happy to help you.

[2016-08-02 21:20] #7 closed, assigned to nobody

[2016-08-02 21:21] lsapan commented on #2
This shouldn't be an issue anymore thanks to some _amazing_ contributions! Now that it's fixed and I've refactored the project structure a bit, the next step would be getting an example app fleshed out to help people get going faster. Considering you already have started one @TheDarkCode, would you mind tying it into the project with a PR?

[2016-08-02 21:21] #2 closed, assigned to lsapan

[2016-08-02 22:22] lsapan commented on #10
Closing this for now as I don't think there's a way around it. Feel free to give a shout if anyone comes up with anything.

[2016-08-02 22:22] #10 closed, assigned to nobody

[2016-08-02 22:35] nguyenthanhcongsoict opened #13 "Cant use protocol"
![screen shot 2016-08-03 at 05 34 21](https://cloud.githubusercontent.com/assets/11443262/17347752/0c05e860-593c-11e6-8479-371a8d5a1343.png)
Sorry but i dont know why i alway get this :(

[2016-08-02 22:40] lsapan commented on #13
You're telling Xcode that your ViewContoller confirms to the protocols, but it doesn't. For example to be a PGoAuthDelegate, your ViewController must implement didReceiveAuth and didNotReceiveAuth. Check out Example/PGoApi/ViewController.swift to see what I mean.

[2016-08-02 22:40] #13 closed, assigned to nobody

[2016-08-02 22:53] nbwar commented on #6
@lsapan I'm curious about the same thing. How do I interact with the `GeneratedMessage` that is returned from the `response.subresponses` protocol buffers object?

[2016-08-02 22:59] nguyenthanhcongsoict commented on #13
thank you for support :D but one more question : Why i cant get Suggest when i type code ? hmm maybe i need clean and rebuild for new indexing form xcode ?

[2016-08-02 23:00] lsapan commented on #6
You need to cast the subresponse using `as!`. If you send me your request I can write up an example.

[2016-08-02 23:02] lsapan commented on #13
No problem! Hmm, it should be suggesting it. Try cleaning and fully compiling the app. It should work after that. If not, maybe try restarting Xcode.

[2016-08-02 23:07] nguyenthanhcongsoict commented on #13
again,big thanks for you. Really really good :) I should try to learning about code :) im really noob :/

[2016-08-02 23:11] PokemonGoSucks commented on #10
A sketchy solution would be to force every int to be int64:

[code]

[2016-08-02 23:11] nbwar commented on #6
@lsapan  I'm just using the current example and trying to parse the `getMapObjects` response

[code]

What should I cast it to current it is an array of `[GeneratedMessage]`

[2016-08-02 23:27] lsapan commented on #6
@nbwar

[code]

[2016-08-02 23:28] nbwar commented on #6
Exactly what i was looking for. thanks!!

[2016-08-02 23:36] lsapan commented on #6
No problem!

[2016-08-03 00:09] mikezliu opened #14 "Support for making API requests with difference accounts"
Currently PGoAuth is a singleton.  It would be nice if it was not a singleton and the library supported making requests using different accounts.  Perhaps PGoApiRequest.makeRequest can be changed to accept a PGoAuth instance w/ the user.  Currently the API seems to be rate limited, and we can only make one request using one account per ~5 seconds.

[2016-08-03 00:19] spinach commented on #14
+1

[2016-08-03 00:21] lsapan commented on #14
Great idea, implementing it right now.

[2016-08-03 00:59] #14 closed, assigned to nobody

[2016-08-03 04:39] victorlandeira opened #16 "Multiple Logins not working"
Hi all,
Thanks for sharing this with us.
i have this huge array of users and i log in and scan multiple times. (building the spiral)
i can get the first right but then getMapObjects always fail

I tried to look into request headers and they look the same every request
any suggestion?

[2016-08-03 05:01] lsapan commented on #16
@victorlandeira glad you got it working! I'd love to integrate a spiral search algorithm directly into the library, would you be willing to share your code?

[2016-08-03 05:05] spinach commented on #16
+1

[2016-08-03 05:29] victorlandeira commented on #16
i'm still getting on login response:
NSLocalizedFailureReason = "JSON could not be serialized. Input data was nil or zero length."
and code 302.

I'd love to!
just started from python code

[2016-08-03 08:37] billymwlei opened #17 "Google Auth"
Just quick question any plan for Google Auth?
Or I can help

[2016-08-03 11:11] lsapan commented on #17
Google auth is implemented.

[code]

[2016-08-03 11:11] #17 closed, assigned to nobody

[2016-08-03 11:36] lsapan commented on #16
Interesting, can you post the code that's generating that error?

[2016-08-03 13:33] DevAndArtist opened #18 "Add carthage support"
Hello there, I've been looking for simple Pokémon Go api on github which I can rip off or use a small portion of it as one of my applications layers. Personally I only need something that returns me some meta data about a specific location and that's it. Building a search algorithm is something that the app must do, not the api.

I might have found this here.

---

I'm not a fan of `pods` because

[2016-08-03 13:51] lsapan commented on #18
Well, arguably the search algorithm is something that can be implemented in the library because it is something that would be widely used. Having a central code base for it would only improve it for everyone. That's a separate issue though 😄

As far as Carthage, I've actually never used it! CocoaPods is much more stable now if you want to give that a shot, but I'm more than open to a PR adding Car

[2016-08-03 16:43] aust opened #19 "Use SwiftLint?"
I was thinking we could use SwiftLint on this project to keep the code consistent and manageable for everyone.

[2016-08-03 16:53] nbwar opened #20 "Spiral Search Algorithm"
Discuss implementation of Spiral search algorithm for getMapObjects

[2016-08-03 17:13] PokemonGoSucks commented on #20
Are you delaying your requests by 10 seconds?

[2016-08-03 17:29] nbwar commented on #20
I'm only sending one request. Would it be recommended to send multiple requests in a spiral pattern every 10 seconds? or is there a better way to get cells in a circular pattern vs what seems to be linear off of 1 request.

[2016-08-03 17:48] PokemonGoSucks commented on #20
The way most apis get the cells is rectangular like http://s2map.com/ so it will look like a block on a map. What you're asking for is neighbouring cells, which is how the actual app does it. You can generate your own cells and input it into getMapObjects too.

Yes, you should send multiple requests in a spiral, separated by 10 s.

[2016-08-03 17:49] MatthewFrench opened #21 "Crashing error after login"
![screen shot 2016-08-03 at 12 08 00 pm](https://cloud.githubusercontent.com/assets/9086152/17375892/a4e9f364-5978-11e6-9ef5-412b64d8bf0c.png)
This code looks awesome, after login this happens. Any idea why?

[2016-08-03 18:03] PokemonGoSucks commented on #21
See the solution I posted in #10 . Just replace s2geometry with that code.

[2016-08-03 18:06] lsapan commented on #20
@PokemonGoSucks if you have a working spiral algorithm, would you be willing to share it? This question comes up a lot, and it'd be great to have a central scanning algorithm that we can all build upon / improve.

[2016-08-03 18:06] lsapan commented on #21
@PokemonGoSucks man you're fast! Closing as duplicate of #10.

[2016-08-03 18:06] #21 closed, assigned to nobody

[2016-08-03 18:06] nbwar commented on #20
Thanks for the info. We should probably build a spiral search algorithm into this api. Are you already working on one? If not I'll work on one tonight after work. Also, I'm thinking multi account scanning will be crucial to avoid the 10s delay.

[2016-08-03 18:08] westerlund commented on #19
In my opinion, a Swift lint wouldn't make any difference but slow down the project. I succest writing a set of rules to follow instead.

[2016-08-03 18:26] aust commented on #19
Using SwiftLint would prevent the need for everyone to come up with a list of rules. Imagine all the time spent discussing a custom rule document that people have to abide by. Running SwiftLint on each PR would be a lot faster than manually checking the rules document against the code. SwiftLint comes with some pretty good default rules and is extremely simple to set up.

[2016-08-03 18:26] PokemonGoSucks commented on #20
I made a location util based off corelocation that gets coordinates/bearing/distance and it shouldn't be too hard to add the spiral off of that. I'll PR the utils and we can figure this out.

[2016-08-03 18:37] lsapan commented on #20
Okay, also @nbwar it looks like you have a bit of an app going. I created an app called Pokemapp (check my page) that's already fully functional with a bunch of features. The catch is it's dependent on the python server. Now that this library is more usable though, it should be trivial to just swap out the data source with this.

[2016-08-03 19:16] MatthewFrench opened #22 "Stuck on logging multiple accounts"
New class called PGoAccount.swift

[code]

ViewController.swift code

[code]

I'm making it log onto one account at a time, logs onto the first but the next it freezes at logging on.
Any idea why?

[2016-08-03 23:28] kilabyte opened #23 "Empty getMapObjects response"
Well looks like Niantic finally change their API today. Looks like in the response object we still get mapCells but now they have it in a nested tuple.

AHAAAAAAA/PokemonGo-Map/issues/3403@237372013

NECROBOTIO/NecroBot@35339c3

[2016-08-03 23:54] billymwlei commented on #17
Thanks :D

[2016-08-04 02:08] spinach commented on #23
Can follow status here:
https://www.reddit.com/r/pokemongodev/comments/4w1cvr/pokemongo_current_api_status/

Latest update is:
`It's becoming more evident that this is a non-trivial change, and will take much longer than planned to get reverse engineered again.`

[2016-08-04 02:32] PokemonGoSucks commented on #23
I have a feeling it is trivial. Might just be the request envelope.

[2016-08-04 02:35] lsapan commented on #23
I have a feeling POGOProtos will be updated by the time we all wake up tomorrow haha. I'll keep an eye on the repo and update as changes are made.

[2016-08-04 02:43] kilabyte commented on #9
Ya sure! I don't have many free cycles but I'll do what I can! 😁

[2016-08-04 02:51] lsapan commented on #23
Just to update: never take what you hear from skimming as truth. The protos and format have not changed. The tuple thing you found was a change that a different project had made internally, totally unrelated.

What has changed is one of the values that gets sent along. The POGOProtos team seems to have limited it down to `Unknown6`, but they're still actively discussing / working through it.

For

[2016-08-04 02:54] lsapan commented on #9
Great! Thanks, I feel you on the cycles thing. Let me know if you need any assistance.

[2016-08-04 07:05] NazarYavornytskyy commented on #9
I successfully pun code from Swift lib in my Objc project, just added PogoAPI in PODs, after using bridge and some code refactoring, now seems all works fine

[2016-08-04 07:07] billymwlei opened #24 "Getting the pokenmons a player having in player profile"
Just quick question, how get the Pokenmon and it's value like CP from Player profile ?

[2016-08-04 09:07] rowellx68 commented on #24
You will have to request for the player inventory. Here's what I've done to achieve that.

https://github.com/rowellx68/pgorate/blob/master/pgorate/ViewController%2BAuth%2BPGOApi.swift#L40

[2016-08-04 15:49] kilabyte commented on #9
@NazarYavornytskyy care to share? Even when i build the framework there are no defined objc methods or initializers unless i add the objc refactoring

[2016-08-04 15:59] lsapan commented on #9
@NazarYavornytskyy it'd be awesome if you could submit a PR with your Objective-C compatibility changes.

[2016-08-04 16:01] lsapan commented on #24
Thanks for sharing @rowellx68!

[2016-08-04 16:01] #24 closed, assigned to nobody

[2016-08-04 16:08] lsapan commented on #19
I think this makes sense. I don't have time to personally implement it, but @aust would you be able to submit a PR for it? We'll need to tweak some of the defaults due to the nature of working with protos.

[2016-08-04 17:34] vinced45 opened #26 "Accessing Level, distance walked and prestige"
Has anyone been able to access any of these attributes from the API. I haven't been able to as of yet. Thanks

[2016-08-04 17:43] NazarYavornytskyy commented on #9
@lsapan @kilabyte guys, with pleasure but currently ProtoBuf has changed, it's showstopper for me and for many people (

[2016-08-04 17:48] kilabyte commented on #9
Submit the PR anyway as I'm sure we'll update the proto when the fix it out. Or submit it as a new branch

[2016-08-04 17:56] NazarYavornytskyy commented on #9
ok, will do after my vacation )

[2016-08-04 19:48] thisismohitgupta opened #27 "No Pokemons"
There are no Pokemons returning just black black blank is being returned, how should I fix this? Should a time delay work , where to add it ?

[2016-08-04 19:50] lsapan commented on #27
Niantic has added additional checks to distinguish real game clients from third party ones. Please see #23.

[2016-08-04 19:50] #27 closed, assigned to nobody

[2016-08-05 09:10] rowellx68 commented on #26
It seems that we already receive this as part of the GetInventory call. I can't understand why they would do this, wouldn't it have been better to lump it with the GetPlayer results?

Anyway, check the inventory for it and it's under `inventoryItemData.playerStats`.

https://github.com/rowellx68/pgorate/blob/b5e19ede7e0100c4f610e2dfc7a5f8e17ea20896/pgorate/InventoryUtilities.swift#L22

EDIT: Added

[2016-08-05 13:10] lsapan commented on #26
Thanks @rowellx68!

[2016-08-05 13:10] #26 closed, assigned to nobody

[2016-08-07 00:13] dmallory commented on #23
Fixed API: https://github.com/keyphact/pgoapi

[2016-08-07 00:21] PokemonGoSucks commented on #23
Yes, we will port it.. (Will start in an hour)

[2016-08-07 02:38] MatthewFrench opened #28 "Needs updated with cryptography crack"
They cracked the unknown6 cryptography in the original pgoapi. Needs updated here.

[2016-08-07 04:50] vinced45 commented on #26
Thanks @rowellx68

[2016-08-07 05:24] kilabyte commented on #28
Already an issue for this. Mod please close this.

[2016-08-07 10:24] tomalbrc commented on #23
Isn't there a problem with the encrypt.c containing niantic's copyrighted code? How far have you come with porting?

[2016-08-07 12:13] PokemonGoSucks commented on #23
It will be a swift interpretation for software compatibility, which is fine in my jurisdiction. However, using the API is another question and I'm not responsible for what you do with it 😉. I am still porting and have a lot left... I have xxhash ported to swift so far and I'm onto the pseudo-c signature library (which I'm surprised they kept in its form). I have work all day, but might PR later to

[2016-08-07 14:21] lsapan commented on #23
@PokemonGoSucks thanks for taking this on. Feel free to submit a PR that's even part way there and we can assist.

[2016-08-07 14:21] lsapan commented on #28
Duplicate of #23.

[2016-08-07 14:21] #28 closed, assigned to nobody

[2016-08-07 14:22] lsapan commented on #16
Closing in favor of #22 as it has more detail.

[2016-08-07 14:22] #16 closed, assigned to nobody

[2016-08-08 06:32] VergaraF opened #29 "The new API is up again"
Are you planning to update this library? It was super useful

[2016-08-08 06:48] kilabyte commented on #29
Issue #23 already address' this.

[2016-08-08 12:35] #29 closed, assigned to nobody

[2016-08-09 12:56] bmoliveira commented on #23
I've started to migrate the changes to support the new version support, but I'm not being able to port the xxhash from the c libs I've found does anyone found a way to port it and managed it to work?

[2016-08-09 16:37] kilabyte commented on #23
Check out https://github.com/AgentFeeble/pgoapi Looks like he got the hash to work

[2016-08-09 19:08] PokemonGoSucks commented on #23
Sorry guys. I am done the implementation, but the c encrypt file has a lot of "too complex to be solved in reasonable time" errors in Swift. I've been busy lately and can't figure out a work around besides breaking up all the 100s of errors, which seems like more trouble than it's worth. How do we feel about using the regular c library?

EDIT: Nevermind, I have a solution..

[2016-08-10 05:35] nguyenthanhcongsoict opened #30 "[Request API]"
Why i cant use "upgradePokemon" while i can get inventory data and player data ? maybe i should wait for new API ?

[2016-08-10 06:53] VergaraF commented on #30
The new API is up on running but I am aware this project is not up to date... so it is not working as it should

[2016-08-10 08:26] nguyenthanhcongsoict commented on #30
ya, maybe he will comeback ?

[2016-08-10 11:37] tomalbrc commented on #30
Have you read #23? Be patient & make sure to checkout similar issues before opening a new one

[2016-08-10 12:18] #30 closed, assigned to nobody

[2016-08-10 16:41] aliasdoc commented on #17
What about  username and password with GPSOAuth ? gmail oauth authorization flow don't require credentials... thanks.

[2016-08-10 21:38] BigChase commented on #2
Please share sets of interesting sample cell_id's which contain pokestops, forts, and known spawn points for testing purposes?  Thanks.

[2016-08-10 23:09] PokemonGoSucks commented on #22
The problem was the cookies were being shared across sessions.. It should be fixed in the next update.

[2016-08-10 23:22] tomalbrc commented on #23
How are you doing? As @lsapan mentioned, we can/want to assist ;)

[2016-08-10 23:37] tomalbrc commented on #17
@aliasdoc wut

[2016-08-10 23:59] PokemonGoSucks commented on #23
I messed up the encryption somehow after migrating to c code.. :/ Trying to solve it. My fork is being updated.

I just want to get the map objects working again before moving on to porting the code to Swift again and making it compile.

Edit: Turned out to just be a missing variable. If anyone wants a working fork with map objects, see my fork, but it uses the c library. Will not PR until I'm don

[2016-08-11 07:14] aliasdoc commented on #17
@tomalbrc ???

[2016-08-11 09:56] liubojiequan opened #31 "use cocoapods "no such module PGoA""
Open PGoApi.xcworkspace ,and import framework like this
![2016-08-11 5 54 06](https://cloud.githubusercontent.com/assets/5020592/17585164/c4117044-5fec-11e6-9238-bf4c46d152f4.png)
but ViewControlle.swift import PGoA has error
"no such module PGoA"
can you help me about it

[2016-08-11 14:20] vinced45 opened #32 "Is it possible to get the map Rect from Cell ID?"

[2016-08-12 13:16] tomalbrc commented on #23
Thanks working perfectly so far

[2016-08-16 00:15] PokemonGoSucks commented on #23
I went in, manually broke up the functions. It should compile now. PR submitted.

[2016-08-16 16:24] kwyk opened #36 "fatal error: cannot increment endIndex"
Hi,
**i am getting the below error:**
fatal error: cannot increment endIndex

**While doing:**
request.getMapObjects()
request.makeRequest(.GetMapObjects, delegate: self)

**Below is the output:**
Processing PGoApiMethod(id: .GetMapObjects, message:  cellId[0]: 3592208081102407973
 cellId[1]: 3592208082176149797
 cellId[2]: 3592208083249891621
 cellId[3]: 3592208084323633445
 cellId[4]: 3592208085

[2016-08-16 16:25] vinced45 commented on #36
make sure you are passing your location with each request. I was getting this error as well until I added it.

[2016-08-16 16:31] kwyk commented on #36
Thanks for the reply.
I have tried passing the location on that request and still encountering the same error.

I did a pod update before. It was working before i update it.

[2016-08-16 17:00] kwyk commented on #36
After i track the error. It came from this code:
**in hashLocation():**
if self.api.Location.alt == nil {
            LocationData.appendData(locationToHex(0)) **<< Commented out this currently to let it pass through to get data.**

**in locationToHex():**
let r = s.startIndex.advancedBy(i)..<s.endIndex.advancedBy(x)

[2016-08-16 18:43] PokemonGoSucks commented on #36
You need to include an altitude. New update already addressed this. Despite what the example says, it is not optional.

[2016-08-17 03:08] kwyk commented on #36
Thank you for your reply.
Ah so that's why it is not working.

[2016-08-17 03:08] #36 closed, assigned to nobody

[2016-08-17 19:44] marioacarvalho opened #37 "How to get Pokemon Move Damage?"
Hi,

is it possible to get the damage of a move? If so, how to? I was looking for it but nothing.

Thanks.

[2016-08-17 23:34] PokemonGoSucks commented on #37
See Pogoprotos.Networking.Responses.PogoprotosNetworkingResponses.proto.swift

Check out AttackGymResponse

[2016-08-18 08:11] majd opened #38 "fatal error: cannot increment endIndex"
After using the latest commit I started getting this fatal error after doing _.Login_ -> _.GetMapObjects_:

[code]

[2016-08-18 08:13] westerlund commented on #38
Duplicate of: https://github.com/lsapan/pgoapi-swift/issues/36
You need to include `altitude` in the location

[2016-08-18 08:14] majd commented on #38
Oh, I must've missed that. Thanks

[2016-08-18 08:14] #38 closed, assigned to nobody

[2016-08-18 09:24] marioacarvalho commented on #36
@PokemonGoSucks Where do I need to include an altitude? Can't get any data since `pod update`

[2016-08-18 09:28] westerlund commented on #36
`setLocation(latitude: Double, longitude: Double, altitude: Double? = nil)` is available on `PGoApiRequest`. Altitude is defined as an optional but you need to include it.

You just add the `altitude` parameter.

[code]

[2016-08-26 22:11] #23 closed, assigned to nobody

[2016-08-27 03:53] subzerofun opened #42 "How to import PGoApi in Cocoa Project"
Hey thanks for porting the pgo-api to Swift!

I would really like to write an Cocoa app for account management and some map scanning functions (to generate coordinates for beehive clusters like this: [https://beehive.bessei-it.eu/](https://beehive.bessei-it.eu/) )

Could you give me short step-by-step tutorial how i could set up a new XCode Cocoa Project that correctly imports the PGoApi framework

[2016-08-27 05:00] PokemonGoSucks commented on #42
Are you using cocoapods? [See the readme for instructions.](https://github.com/lsapan/pgoapi-swift#installation)

If not, the easiest way to start is to simply clone/download and open the xworkspace file. From there, you can scrap the example app.

[2016-08-27 05:03] #22 closed, assigned to nobody

[2016-08-27 06:02] PokemonGoSucks commented on #31
I think you already figured out the problem, it should be PGoApi

[2016-08-27 06:02] #31 closed, assigned to nobody

[2016-08-28 21:15] subzerofun commented on #42
Uh i meant how can i import the API for an Desktop (OSX, macOS) Cocoa Application 😄

I´m familiar with pods, but i unfortunately i get this error when i try to install it that way:
[code]

[2016-08-29 01:51] PokemonGoSucks commented on #42
Hey, sorry I misread your question. I added OS X support to the pod file so try again.

[2016-08-29 20:39] subzerofun commented on #42
thanks will try it out! this api library is heaven-sent, since i´m only able to read and understand the python and js based apis that are out there, but unfortunately i´m not that experienced to write a python or js app from scratch.

since swift is so damn easy to learn (and fun to use, compared to other languages) i can´t thank you enough for all the effort you´ve put in this project.

i hope a

[2016-08-31 04:03] brianjob opened #45 "GPSOAuth.loginOAuth() should be public"
I would like to use loginOAuth() to login using an oauth token but the method is marked private

[2016-08-31 05:19] PokemonGoSucks commented on #42
Nice, let me know if you run into anymore trouble!

[2016-08-31 05:19] #42 closed

[2016-08-31 05:25] PokemonGoSucks commented on #45
I'm not opposed to it, but can you submit the PR?

[2016-09-02 09:02] aliasdoc opened #46 "No pokemons found"
Hi, I can't see any pokemons, just spawnpoints, gyms, pokestops, ... but when I launch official app, I can see there are 3 pokemons around me...
Is there an extra api call for pokemons ??
Thanks.

[2016-09-02 13:48] DevelopIdeas opened #47 "Auth token has expired."
Hi,

I am using a single instance of PoGoAuth (PTC Login) for my authentication and a single instance of PGoApiRequest. Everything is working as expected except after some time I get "Auth token has expired." for any request I make.

I've looked through the source code and I can't seem to find a refresh token method? Should I be using a new instance of PGoApiRequest for every request I make instea

[2016-09-02 13:51] DevelopIdeas commented on #46
Hi,

I also experienced this issue for a while and the solution for me was to check the "banned" property of the auth instance, Ninantic had banned my account.

Hope it helps.

[2016-09-02 13:58] tomalbrc commented on #47
I always use a new instance of PGoApiRequest

[2016-09-02 16:06] PokemonGoSucks commented on #46
The problem is that the api gets the map objects in a way that can miss pokemon. I am looking into rewriting parts of S2geometry.

If you find any coordinates that have this problem, please let us know!

[2016-09-02 16:08] PokemonGoSucks commented on #47
Right, there isn't a refresh method to relogin. I think it should be added.

[2016-09-02 16:14] DevelopIdeas commented on #47
I've tried using the new request object for each request but it doesn't work, and after digging further into the code its got nothing to do with it anyway.

Is there an immediate solution at present or does a refresh function need adding?

I'd be happy to contribute if pointed in the right direction.

[2016-09-02 16:37] PokemonGoSucks commented on #47
There isn't an immediate solution unless you want to make a new auth object and login again. Not sure how the actual app handles it either.

With PtcOAuth you can set auth.authToken to nil and it'll work. With google, the access ticket might be expired so you'll have to relogin.

[2016-09-02 16:51] PokemonGoSucks commented on #47
If you want to try, just add this above makeRequest.

[code]

And then replace expired = true with:

[code]

[2016-09-02 22:44] PokemonGoSucks commented on #47
I included it into my last PR.

[2016-09-02 22:44] PokemonGoSucks commented on #45
I included it into my last PR.

[2016-09-02 22:44] #45 closed, assigned to nobody

[2016-09-03 11:27] DottD opened #50 "Swift 3.0 conversion"
Is it possible to have a Swift 3.0 conversion of the library?

[2016-09-04 23:35] subzerofun opened #52 "Compiler error from "PGoUtils.swift" - OSX only [bug]"
Hey thanks for addition of OSX support to the pod! (i was the one asking for it in [Issue #42](https://github.com/lsapan/pgoapi-swift/issues/42))

I tried to compile my project with the updated pod, but in the File PGoUtils.swift, at line 3:
[code]

 an iOS only Framework gets imported. Since there is no equivalent Framework for OSX/macOS the function `ABCreateStringWithAddressDictionary` at line

[2016-09-05 02:02] PokemonGoSucks commented on #52
This is non-essential code and can be commented out. I will go ahead and remove this from the utils and find an alternative.

[2016-09-05 17:56] subzerofun commented on #52
My aim is to write a little Swift App that uses the OSX MapKit Framework to display the positions of multiple users (and give live feedback about found pokemon) – a simple map scanner basically (a reduced version of the PokemonGo-Map project).

Won´t i run into problems with getting map coordinates if i uncomment this line?

[2016-09-05 18:26] PokemonGoSucks commented on #52
Nope. You can delete the entire file if you need to. It's just extra stuff to help build bots/scrappers.

[2016-09-05 18:30] subzerofun commented on #52
OK, thanks. Also thanks for the rewritten PGoUtils.swift!

[2016-09-05 18:30] #52 closed

[2016-09-05 19:20] #47 closed, assigned to nobody

[2016-09-05 19:20] #37 closed, assigned to nobody

[2016-09-06 01:21] PokemonGoSucks commented on #50
Most of it can be converted, but I'm not sure about the dependencies. Another issue are the protos.. I'm also not entirely familiar with Swift 3. So, help is needed.

[2016-09-06 05:33] PokemonGoSucks commented on #32
Yes, but the relevant code is not ported into our s2geometry. See the node implantation: https://github.com/Daplie/s2-geometry.js/blob/master/src/s2geometry.js#L491

[2016-09-06 05:38] PokemonGoSucks commented on #46
I added the missing parent function to s2, so now the cells are finally correct. [If you are on the edge of certain cells, you can miss pokemon.](http://s2map.com/#order=latlng&mode=polygon&s2=true&points=9263822733559463936,9263822735706947584,9263822737854431232,9263822740001914880,9263822742149398528,9263822744296882176,9263822746444365824,9263822748591849472,9263822750739333120,926382275288681

[2016-09-06 09:09] aliasdoc commented on #46
Hi @PokemonGoSucks , thanks, you make a very good job for this library !!

[2016-09-06 09:09] #46 closed, assigned to nobody

[2016-09-06 14:10] acer915 opened #53 "FortSearch always return OutOfRange"
Hi

send:
Generating main request...
Generating subrequests...
Processing PGoApiMethod(id: .FortSearch, message:  fortId: 758c93d850ac49a183b6e5aa244c342e.16
 playerLatitude: 25.033085
 playerLongitude: 121.535516
 fortLatitude: 25.033104
 fortLongitude: 121.535702
, parser: (Function))...
Building request...
Got a response!

Get:
result OutOfRange

branch PreVersion35 is ok.

thanks.

[2016-09-06 15:53] PokemonGoSucks commented on #53
I just tested it and it worked for me. Make sure you setLocation closer to the fort.

[2016-09-06 16:24] acer915 commented on #53
Hi

request.setLocation(fortData.latitude, longitude: fortData.longitude)
request.fortSearch(fortData.id, fortLatitude: fortData.latitude, fortLongitude: fortData.longitude)
request.makeRequest(.FortSearch, delegate: self)

I set same location for "setLocation" and "fortSearch", but always return OutOfRange

Have any I am not noticed ?

thank you again.

[2016-09-06 16:53] PokemonGoSucks commented on #53
The problem might be in the signature. Try commenting out :

[code]

[2016-09-07 01:10] acer915 commented on #53
Hi @PokemonGoSucks , it's work.
Very thanks.

[2016-09-07 22:58] #53 closed, assigned to nobody

[2016-09-08 02:40] rlburkes commented on #20
I am working on an algorithm that computes the minimum number of 70m radius disc that encompass all nearby spawn points. Using the algorithm I am able to cover all possible spawn locations in roughly 1/4 the requests(this varies based on spawn point density) it would take with the naive approach(querying around every spawn point), and roughly 1/10th the requests it would take via a spiral or sprea

[2016-09-08 06:55] PokemonGoSucks commented on #20
@rlburkes If you mean the example app, then feel free to modify the example in any form.

[2016-09-14 06:48] PokemonGoSucks commented on #50
Change of mind: I am working on it.

[2016-09-14 06:55] DottD commented on #50
Thank you! If it can help I saw that all of the dependecies are already converted in Swift 3.0. I can also help you a bit with the conversion, but I regret I have not so much time to work on it.

[2016-09-14 09:03] sund4nce commented on #50
I can also help you out. Are you available via the pogodev discord channel?

[2016-09-16 20:05] PokemonGoSucks commented on #50
@mort3m I'll join the discord tonight. Here is what I've got so far: https://github.com/PokemonGoSucks/pgoapi-swift/tree/Swift3.0

I'll try to figure out the empty map response issue tonight. It may be an issue with the hashing.

[2016-09-17 05:42] PokemonGoSucks commented on #50
My branch works if you set checkChallenge in setApiSettings to false. I am redoing location fixes and adding a few more things before PR.

[2016-09-18 03:47] #32 closed, assigned to nobody

[2016-09-19 14:02] cprovatas opened #55 "Account Generation"
Would it be possible for this API to ever support account generation?

[2016-09-19 15:59] tomalbrc commented on #55
I really don't think so

[2016-09-19 16:22] PokemonGoSucks commented on #55
I won't go there because it'll probably get the project shut down.

[2016-09-19 17:20] cprovatas commented on #55
Thanks

[2016-09-19 20:45] #55 closed, assigned to nobody

[2016-09-20 18:27] #50 closed, assigned to nobody

[2016-09-24 12:42] iTester321 opened #56 "No map objects for locations other than US and Canada"
I am checking on Swift3.0 version and getting following issue

ViewController.swift - didReceiveApiResponse(_:response:) - 177 - Got map objects!
however there are no forts,  spawnPoints, catchablePokemons, wildPokemons, nearbyPokemons getting in the response other than US and Canada locations.

PokemonMap.swift - viewDidLoad() - 33 - forts - 0
PokemonMap.swift - viewDidLoad() - 34 - spawnPoints -

[2016-09-24 14:41] iTester321 commented on #56
To addin this was working fine in the master version I.e. Swift 2 version.

[2016-09-24 15:40] PokemonGoSucks commented on #56
Try setting all bools to false in setApiSettings and let me know if it works. I'll try it later tonight.

Edit: Oops, I meant setPlatformRequestSettings, not setApiSettings.

[2016-09-25 02:48] iTester321 commented on #56
@PokemonGoSucks, thanks for quick revert. I have changed the above mentioned settings at both places 1. at default and at the setPlatformRequestSettings (as this method is not been called).

Really appreciate your early advice to move forward, thanks

at default

[code]

at the setPlatformRequestSettings

[code]

However, there is no improvement. The test results are as follows:

**Failed** - Not

[2016-09-25 06:18] PokemonGoSucks commented on #56
The problem was in xxhash, it should be solved now.

[2016-09-25 08:36] iTester321 commented on #56
thanks @PokemonGoSucks, it helped a lot !!! 👍

[2016-09-25 08:36] #56 closed, assigned to nobody

[2016-09-26 11:27] quangpc-zz opened #57 "Is version 0.35.0 is still safe now?"
As the information on this link:
https://www.reddit.com/r/pokemongodev/comments/54j1y8/0350_is_now_dead_upgrade_to_continue/
I notice that:
"minimum_client_version": "0.39.0"
so user need upgrade app the latest version to continue playing.
I afraid we can be banned by using api now. Do u have any idea? Thanks!

[2016-09-26 18:49] PokemonGoSucks commented on #57
It's no longer safe and this api should not be used. There are a few real clients that are still up and running in 0.35 because the app was never closed, but that's just a handful of people. I was trying to manually deobfuscate some of the functions in the lib.so, so we'll see if the reverse engineering gets anywhere. Basically looking for anything that could produce the 32 bit seed.

Looks like w

[2016-10-09 07:42] oujinlong opened #59 "will it update？"
thanks for working on this！
the api may be changed
I sincerely want to know that you will continue to update it
thanks

[2016-10-12 04:21] PokemonGoSucks commented on #59
I'm no longer able to commit as much time to the project or interested in the game, but I will likely update it if #re is successful within the next few days. Apparently the fix could be as simple as changing the seeds for xxhash.

[2016-10-26 16:43] oujinlong commented on #59
Thank you very much for your contribution.

[2016-10-26 20:08] PokemonGoSucks commented on #59
No problem. I actually have some time again and I'm trying to see if I can get any bit of elfinlazz/hashfunc2 into swift.

[2016-11-02 19:03] PokemonGoSucks commented on #59
The api leaked: https://gist.github.com/anonymous/0df2247292a473fd3b51c7d338d4a578

The major hurdle is still the hashing function and it's unlikely that I'll be able to convert it to Swift. Hopefully another team can get it in C or python so it wont be as hard.

[2016-11-03 05:12] oujinlong commented on #59
I see, thank you very much for your efforts, I will continue to pay attention to you.

[2016-11-04 10:04] oujinlong commented on #59
I don't know this will help you
https://pogodev.org/
https://github.com/eunchong/pgoapi

[2016-11-15 06:11] #57 closed, assigned to nobody

[2016-11-15 06:11] PokemonGoSucks commented on #59
It's now released.

[2016-11-15 14:56] oujinlong commented on #59
Thanks a lot!!!

[2016-11-15 19:34] #59 closed, assigned to nobody

[2016-11-15 19:34] #20 closed, assigned to nobody

[2016-11-15 19:34] #19 closed, assigned to nobody

[2016-11-18 16:49] aliasdoc opened #60 "API Exception: captchaRequired implementation"
Hi,

You know how to implement captcha ??

Thanks.

[2016-11-19 23:11] PokemonGoSucks commented on #60
Use the new getChallengeURL() and verifyToken()

[2016-11-21 03:17] acer915 opened #61 "Map objects no forts and pokemon data."
Hello, I use PGoApi-Example, but not any forts, pokemon data in map object array. all is 0 values.

Any idea?

Thanks.

![screen shot 2016-11-21 at 11 13 33](https://cloud.githubusercontent.com/assets/1250351/20469542/95929556-afdb-11e6-8fc7-60d6f72e5948.png)

[2016-11-22 02:18] PokemonGoSucks commented on #61
0.47.1 was released and there's new hashing. I will not be updating anymore.

[2016-11-22 02:18] #60 closed, assigned to nobody

[2016-11-27 14:44] aliasdoc commented on #60
Hi @PokemonGoSucks , thanks you but getChallengeURL() always returns nil

[code]

[2016-11-27 14:57] aliasdoc commented on #60
Ok, exception delegate is called before challenge url is populated, thanks.

[2016-11-27 19:37] netleave opened #62 "Cannot show Pokemons and Forts outside US..."
Hi, Isapan…

I cannot get anything with the following position: (22.380837, 114.206024)

But, when I switch back to the position (37.33233141, -122.0312186),
there is many Pokemons and Forts as normal…

I just wonder there is any trick to switch servers between differnet countries…

Hope you can help. Thanks. =)

[2016-11-27 19:44] netleave commented on #61
acer915, which location you're finding forts and pokemon…? Maybe we're facing the same issue.

[2016-11-30 02:09] quangpc-zz commented on #62
right, I have same problem too.

[2016-12-04 04:12] quangpc-zz commented on #60
@aliasdoc Could u please help me how to verify capcha in steps
after we get challenge url, we show web view for user verify capcha, then use verifyToken(), am I right?

[2016-12-04 08:15] quangpc-zz commented on #62
@netleave did you find the solution?

[2016-12-04 08:37] netleave commented on #62
@quangpc I am just thinking of the issue being related to the signature problem... any idea...?

[2016-12-04 08:42] quangpc-zz commented on #62
@netleave I haven't found the solution :)

[2016-12-04 12:23] netleave commented on #62
@quangpc Okay, let's wait for @lsapan , see if he can give us some hints.

[2016-12-08 04:54] PokemonGoSucks commented on #62
The problem is the hashing and signature.

[2016-12-08 06:59] netleave commented on #62
@PokemonGoSucks Thanks for your help. Let me see if I can work on it. By the way, why you think of both of hashing and signature being related?

[2016-12-08 20:57] PokemonGoSucks commented on #61
The problem should be solved now.

[2016-12-08 20:57] #61 closed, assigned to nobody

[2016-12-08 20:57] PokemonGoSucks commented on #62
I think it's working now, confirm with me?

I suspected hashing because this problem happened before (see #56), and it turned out that the request hash was being generated incorrectly.

[2016-12-09 01:48] quangpc-zz commented on #62
@PokemonGoSucks I changed niahash.swift but still can not get map objects outside US.

[2016-12-09 06:54] PokemonGoSucks commented on #62
Try changing the altitude to 10.1.

[2016-12-09 07:36] quangpc-zz commented on #62
@PokemonGoSucks thanks you. it's working now :)

[2016-12-10 10:51] quangpc-zz commented on #62
@PokemonGoSucks sorry but maybe it still not working. because yesterday I use an US location to test (ooops), today I use some other locations and map objects not return.

[2016-12-11 03:44] PokemonGoSucks commented on #62
You might be soft IP banned for traveling too quickly. Use proxies for different locations and wait 24 hours. Also make sure you have no API exceptions like captcha.

[2016-12-11 03:51] quangpc-zz commented on #62
@PokemonGoSucks
the strange thing here is US location is still working.
I did check all exceptions. If I use locations on US, I can get map objects normally.

[2016-12-14 19:49] KyleYu opened #63 "Is it possible to update POGOProtos to 0.49.1?"
I'm using the branch, Swift3.0---Version-45 and follow the updating Protos steps.
It does not work.

Here is my environment:
protobuf-swift (3.1.0)
POGOProtos (2.3.0)

Would you please help?

[2016-12-18 07:46] oujinlong commented on #63
looking forward to

[2017-02-24 06:19] Vincentlai opened #65 "Api is not working. May need HashProvider when sending request."
The Legacy Hash 0.45 has been denied by Niantic Server. Any ideas how to use the HashApi?
Thanks.

[2017-04-25 08:14] quangpc-zz commented on #65
Did u have any plan to support hash service, @lsapan @PokemonGoSucks

[2017-05-02 19:32] lsapan commented on #65
Hey @Vincentlai and @quangpc at the moment neither of us are actively working on implementing their new hash service. Always open to PRs though!

[2017-05-03 00:56] quangpc-zz commented on #65
@lsapan Thank you. I already tried to update hash service, but I met issue after hashing that session invalidated.

[2021-10-04 06:44] #9 closed, assigned to nobody